@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: whitesmoke;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
}

.container {
  position: relative;
  margin-top: 5px;
  margin-bottom: 25px;
}

/* Loader */
.loader {
  background: whitesmoke;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation */
.navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.navigation-items {
  display: flex;
  justify-content: center;
  width: 100%;
}

.background {
  background: whitesmoke;
  position: absolute;
  inset: 0;
  height: 60px;
  z-index: -1;
}

.clickable {
  color: #035f03;
  cursor: pointer;
  user-select: none;
  text-shadow: 0 0px 0px #054605;
  transition: text-shadow 0.3s ease-in-out;
  letter-spacing: 0.5px;
}

.clickable:hover {
  filter: brightness(1.6);
  text-shadow: 0 0px 10px #054605;
}

.favorite {
  color: #d11a2a;
  cursor: pointer;
  user-select: none;
  text-shadow: 0 0px 0px #7a121a;
  transition: text-shadow 0.3s ease-in-out;
  font-size: 24px;
}

.favorite:hover {
  filter: brightness(1.6);
  text-shadow: 0 0px 10px #7a121a;
}

.images-container {
  width: 50%;
  max-width: 900px;
  margin: 50px auto 0;
  padding: 0 10px;
}

.card {
  background: white;
  margin: 10px 0 20px;   /* <-- remove side margins */
  width: 100%;           /* <-- fill container */
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-image-top {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 20px;
}

.card-title {
  margin: -10px auto 10px auto;
  font-size: 24px;
}

/* Prevent long URLs / long strings from forcing horizontal overflow */
.card-body,
.card-text
 {
  overflow-wrap: anywhere;
  word-break: break-word;
}

/* Save Confirmation */
.save-confirmed, .no-favorites {
  background: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 25px;
  right: 50px;
  opacity: 0;
  transition: opacity 0.7s ease;
  pointer-events: none;
}

.save-confirmed.show, .no-favorites.show {
  opacity: 1;
}

/* Hidden */
.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  body {
    line-height: 1.4rem;
    font-size: 0.9rem;
    text-align: justify;
  }

  .card-title {
    font-size: 20px;
  }

  .save-confirmed {
    right: 25px;
  }

  .images-container { 
    width: 95%;
    padding: 0;
  }

  .card-body {
    padding: 16px;
  }

  .card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
